*.pyc
*~
local_settings.py
settings/local.py
*.psd
/tags
/data
.~*
common/CACHE
.dropbox.attr
*.swp
*.DS_Store
include/*
lib/*
build/*
share/*
src/*
bin/activate*
bin/python*
bin/pip*
bin/pil*
bin/django-admin.py
bin/easy_install*
bin/fab*
bin/ip*
bin/pycolor
bin/bundle_image
bin/cfadmin
bin/cloudservers
bin/cq
bin/elbadmin
bin/fetch_file
bin/kill_instance
bin/launch_instance
bin/list_instances
bin/lss3
bin/pyami_sendmail
bin/s3put
bin/sdbadmin
bin/taskadmin
bin/rst*
bin/gunicorn*
districts.db
*.pybundle
.sass-cache
.codeintel
static/*
